@import "base/base.scss";
@import "base/func.scss";
@import "base/all.scss";
@import "base/call_form.scss";


body {
    background: #d4effc url('../images/bottom_bg.png') top center;
    min-height: 754px;
}

// Top Menu
.top_menu {
    position: relative;
    top: -15px;
    background: url('../images/blog_full_post_title_bg.png') repeat-x top;
    height: 241px;
    z-index: 1;
    padding-top: 26px;

    .top_menu_container {
        background: url('../images/title_top_bg.png') no-repeat;
        width: 978px;
        padding-top: 12px;
        margin: 0 auto;
        position: relative;

        .top_menu_center {
            position: relative;
            width: 838px;
            padding: 21px  70px 26px 70px;
            background: url('../images/title_center_bg.png') repeat-y;
        }
        .top_menu_bottom {
            background: url('../images/title_bottom_bg.png') no-repeat bottom;
            padding-bottom: 23px;
            position: relative; 
            width: 978px;
        }
        a.left {
            display: block;
            position: absolute;
            top: 78px;
            left: 31px;
            z-index: 99;
            width: 10px;
            height: 19px;
            text-indent: -9999px;
            background: url('../images/top_slider_arrows.png') no-repeat;
            background-position: 0 0;
        }
        a.left:hover {
            background-position: 0 -20px;
        }
        a.right {
            display: block;
            position: absolute;
            top: 78px;
            right: 10px;
            z-index: 99;
            width: 31px;
            height: 19px;
            text-indent: -9999px;
            background: url('../images/top_slider_arrows.png') no-repeat;
            background-position: -11px 0;
        }
        a.right:hover {
            background-position: -11px -20px;
        }           

        hr {
            clear: both;
            width:957px;
            height:3px;
            border: 0px;
            background: url('../images/blog_title_hr.png') no-repeat;
            margin: 27px 0 0 0;
        }
        h1 {
            color: #ff6600;
            font: 36px Georgia;
            font-weight: normal;
            margin-bottom: 12px;
        }
        span.date {
            font: 12px/24px Arial;
            color: #999;
        }
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline;
                background: url('../images/blog_tags_sep.png') no-repeat top left;
                background-position: 0% 7px;
                padding-left: 12px;
                margin-right: 5px;
            }
            li.first {
                background: none;
                padding: 0;
            }
        }
    }
}

// Main Content
#main {
    padding-bottom: 20px;

    .main_container {
        width: 969px;
        margin: 0 auto;

        .post {
            margin: 11px 0 40px 0;
            p {
                font: 16px/22px Georgia;
                color: #000;
                margin-bottom: 5px;
            }
            ul {
                margin: 0;
                font: 16px/30px Georgia;
                color: #000;
                list-style: none;
                li {
                    background: url('../images/circle_marker.png') no-repeat top left;
                    background-position: 0 12px;
                    padding-left: 18px;
                    margin-bottom: 2px;

                    ul {
                        margin: 0 0 0 20px;
                        li {
                            background: url('../images/line_marker.png') no-repeat center left;
                            padding-left: 20px; 
                        }
                    }
                }
            }
        }
    }   
}

/* Журнал */
div.journal {
    position: relative;
    height: 140px;
    background: url('../images/journal_panel_bg.jpg') repeat-x top left;
    .journal_container {
        margin: 0 auto;
        width: 960px;
        height: 120px;
        position: relative;
        padding-top: 27px;

        a.left {
            font: 24px/28px Georgia;
            font-style: italic;
            @include shadow(#3d6c03);
            display: block;
            float: left;
            background: url('../images/journal_arrows_left_right.png') no-repeat left top;
            background-position: 0 13px;
            padding-left: 39px;
            color: #fff;
        }
        a.right {
            font: 24px/28px Georgia;
            font-style: italic;
            @include shadow(#3d6c03);
            display: block;
            float: right;
            background: url('../images/journal_arrows_left_right.png') no-repeat right top;
            background-position: 100% -31px;
            padding-right: 39px;
            color: #fff;
        }
    }
} 