@import "base/base.scss";
@import "base/func.scss";
@import "base/all.scss";
@import "base/call_form.scss";


body {
    background: #d4effc url('../images/bottom_bg.png') top center;
    min-height: 754px;
}

// Top Menu
.top_menu {
    position: relative;
    top: -15px;
    background: url('../images/blog_top_menu.png') repeat-x top;
    height: 282px;
    z-index: 1;
    padding-top: 26px;

    .top_menu_container {
        background: url('../images/title_top_bg.png') no-repeat;
        width: 978px;
        padding-top: 12px;
        margin: 0 auto;
        position: relative;

        .top_menu_center {
            position: relative;
            width: 978px;
            padding: 15px  0px 6px 0px;
            background: url('../images/title_center_bg.png') repeat-y;
        }
        .top_menu_bottom {
            background: url('../images/title_bottom_bg.png') no-repeat bottom;
            padding-bottom: 23px;
            position: relative; 
            width: 978px;
        }
        div.hr {
            clear: both;
            width:957px;
            height:3px;
            border: 0px;
            background: url('../images/blog_title_hr.png') no-repeat;
            margin: 27px 0 0 11px;
        }
        h1 {
            color: #ff6600;
            font: 36px Georgia;
            font-weight: normal;
            margin-bottom: 18px;
            padding: 0 70px;
        }
        ul {
            padding: 0 70px;
            list-style: none;
            margin: 0px;
            li {
                display: inline;
                margin-right: 15px;
                a {
                    color: #0099cc;
                    font: 14px Arial;
                }
                a:hover {
                    color: #ff6600;
                }
            }
            li.active {
                a {
                    font-weight: bold;
                    color: #cccccc;
                    text-decoration: none;
                }
                a:hover {
                    color: #ff6600;
                }
            }
        }

        ul.tags {
            margin-top: 23px;
            li {
                display: block;
                float: left;
                margin-bottom: 13px;
                line-height: 24px;
            }
            li.active {
                a {
                    display: block;
                    float: left;
                    background: url('../images/top_sub_menu_active.png') no-repeat right;
                    background-position: 100% -26px;
                    height: 26px;
                    padding-right: 5px;

                    span {
                        display: block;
                        float: left;
                        background: url('../images/top_sub_menu_active.png') no-repeat top left;
                        height: 21px;
                        padding: 5px 5px 0 10px;
                        color: #fff;
                        font-weight: normal;
                    }
                }
                a:hover {
                    color: #fff;
                }
            }
        }
    }
}

.ie7 .top_menu .top_menu_container hr {
    position: relative;
    left: -5px;
    border: 0px solid !important;
    clear: both;
    width:957px;
    height:3px;
    background: transparent url('../images/blog_title_hr.png') no-repeat;
    margin: 20px 0 0 11px;
}
.ie7 ul.tags {
    margin-top: 17px !important;
}

.ie6 .top_menu .top_menu_container hr {
    position: relative;
    left: -5px;
    border: 0px solid !important;
    clear: both;
    width:957px;
    height:3px;
    background: transparent url('../images/blog_title_hr.png') no-repeat;
    margin: 20px 0 0 11px;
}
.ie6 ul.tags {
    margin-top: 17px !important;
}

div.hr {
    background: url('../images/sep.png') repeat-x left bottom;
    border: 0px;
    height:2px;
    margin-bottom: 14px;
}

// Main Content
#main {
    padding-bottom: 20px;

    .main_container {
        width: 969px;
        margin: 0 auto;

        .post {
            margin-left: 9px;
            width: 960px;
            padding-bottom: 1px;
            h2 {
                font: 30px/50px Georgia;
                font-style: italic;
                color: #0099cc;
            }
            a:hover {
                h2 {
                    color: #ff6600;
                }
            }
            span.date {
                font: 12px/24px Arial;
                color: #999;
            }
            ul.tags {
                list-style: none;
                margin: 0;
                li {
                    display: inline;
                    background: url('../images/blog_tags_sep.png') no-repeat top left;
                    background-position: 0% 7px;
                    padding-left: 12px;
                    margin-right: 5px;
                }
                li.first {
                    background: none;
                    padding: 0;
                }
            }
            .content {
                width: 960px;
                margin-top: 19px;
                margin-bottom: 39px;
                .text {
                    float: left;
                    padding: 16px 21px;
                    background: #fff url('../images/blog_post_text_bg.png') repeat-y top left;
                }
            }
            .content_with_image {
                width: 960px;
                margin-top: 19px;
                a.title_image {
                    float: left;
                    display: block;
                    width: 630px;
                    height: 382px;
                    background: url('../images/blog_post_image_bg.png') no-repeat;
                    text-align: center;
                    vertical-align: middle;
                    line-height: 382px;
                    padding-top: 5px;
                }
                .text {
                    float: left;
                    margin-top: 10px;
                    padding: 16px 21px;
                    background: #fff url('../images/blog_post_text_bg.png') repeat-y top left;
                    width: 288px;
                }
            }
            a.readmore {
                display: block;
                width: 200px;
                color: #0099cc;
                font:12px/18px Arial;
                margin-top:13px;
                margin-bottom: 1px;
            }
            a.readmore:hover {
                color: #ff6600;
            }
            p {
                font: 12px/18px Arial;
                color:#666666;
            }
        }

        div.pager {
            div.pager_content {
                float: left;
                padding:0 5px 0 18px;
                ul {
                    list-style:none;
                    margin: 0;
                    li {
                        display:inline;
                        margin-right:13px;
                        a {
                            font: 18px/36px Arial;
                            @include shadow(#fff);
                        }
                        a.active {
                            color: #000;
                            text-decoration:none;
                        }
                    }
                }
            }
            div.right_bg, div.left_bg {
                float: left;
                width: 359px;
                height: 37px;
                background: url('../images/sep.png') repeat-x center;
            }
        }
    }
}

.ie7 #main .main_container .post .content_with_image a.title_image img{
    position: relative;
    top: -21px;
}

.ie7 div.pager {
    div.right_bg, div.left_bg {
        float: left;
        width: 355px  !important;
        height: 37px;
        background: url('../images/sep.png') repeat-x center;
    }
}

.ie6 div.pager {
    div.right_bg, div.left_bg {
        float: left;
        width: 355px  !important;
        height: 37px;
        background: url('../images/sep.png') repeat-x center;
    }
}