/* all ie mail form */
.ie8 .nyroModalDom .right form input, .ie7 .nyroModalDom .right form input {
  padding: 12px 12px;
  height: 22px; }

.ie8 #main .order_form .right form p #phone, .ie8 #main .order_form .right form p #email, .ie8 #main .order_form .right form p #name, .ie8 #main .order_form .right form p #company_name, .ie8 #main .order_form .right form p #captcha, .ie8 #main .order_form .right form #phone {
  padding: 12px 12px;
  height: 22px; }

.ie7 #main .order_form .right form p #phone, .ie7 #main .order_form .right form p #email, .ie7 #main .order_form .right form p #name, .ie7 #main .order_form .right form p #company_name, .ie7 #main .order_form .right form p #captcha, .ie7 #main .order_form .right form #phone {
  padding: 12px 12px;
  height: 22px;
  width: 256px; }

.ie7 p.name, .ie7 p.email {
  width: 276px;
  margin-right: 10px; }

.ie6 #main .order_form .right form p #phone, .ie6 #main .order_form .right form p #email, .ie6 #main .order_form .right form p #name, .ie6 #main .order_form .right form p #company_name, .ie6 #main .order_form .right form p #captcha, .ie6 #main .order_form .right form #phone {
  padding: 12px 12px;
  height: 22px;
  width: 256px;
  margin: 0; }

.ie6 p.name, .ie6 p.email {
  margin-right: 0px; }

.ie6 #main .order_form .right form p {
  margin-bottom: 10px; }

.ie7 .nyroModalDom .right .message {
  clear: both; }

.ie7 .nyroModalDom .right p.phone input {
  float: left;
  margin-right: 0px !important;
  width: 150px; }

.ie6 .nyroModalCloseButton {
  top: 0;
  right: 220px;
  width: 12px;
  height: 12px;
  z-index: 999;
  text-indent: -9999em;
  background: url(../images/mail_form_close.png); }

.ie6 .nyroModalDom .right form input {
  padding: 12px 10px;
  height: 16px;
  font: 16px;
  line-height: 22px;
  width: 300px; }

.ie6 .nyroModalDom .right form label {
  line-height: 10px !important; }

.ie6 .nyroModalDom .right form input p {
  margin-bottom: 0px; }

.ie6 .nyroModalDom .right p.phone {
  float: left;
  margin-right: 18px; }

.ie6 .nyroModalDom .right p.email {
  float: left; }

.ie6 .nyroModalCont {
  width: 980px !important;
  height: 587px !important;
  background: url("../images/mail_form_bg.png") no-repeat; }
