@import "base/base.scss";
@import "base/func.scss";
@import "base/all.scss";

body {
	background: #edf8fe url('../images/bg_bottom.jpg') repeat-x top left;
	min-height: 754px;
}

/* Блок с текстом про нет времени */
div.no_time_block {
	background: none;
	width: 960px;
	margin: 16px auto 0px auto;
	font: 16px Georgia;
	color: #000;
	text-align: center;
	
	a{
		color: #0099cc;
		text-decoration: none;
		border-bottom: 1px dotted #0099cc;
	}
	a:hover {
		color: #ff6600;
	}
}

/* Главный слайдер */
div.top_panel {
	background: url('../images/top_panel_bg.png') repeat-x top left;
	height: 520px;
	
	.slider_bg {
		position: relative;
		height: 394px;
		min-width: 960px;
		max-width: 1024px;
		margin: 0 auto;
		padding-top: 90px;
		background: url('../images/top_panel_slider_bg.png') no-repeat top center;
		
		.bx-wrapper {
			margin: 0 auto;
			width: 960px;
			padding: 0 0 0 55px;
			/*next button*/
			.bx-next {
				position: absolute;
				top: -28px;
				right: 13px;
				z-index: 99;
				width: 10px;
				height: 19px;
				text-indent: -9999px;
				background: url('../images/top_slider_arrows.png') no-repeat;
				background-position: -11px 0;
			}
			.bx-next:hover {
				background-position: -11px -20px;
			}			

			/*previous button*/
			.bx-prev {
				position: absolute;
				top: -28px;
				left: 9px;
				z-index: 99;
				width: 10px;
				height: 19px;
				text-indent: -9999px;
				background: url('../images/top_slider_arrows.png') no-repeat;
				background-position: 0 0;
			}
			.bx-prev:hover {
				background-position: 0 -20px;
			}
		}
		
		/* pager */
		#top_panel_pager {
			top: 49px;
			left: 60px;
			_left: 200px !important;
			position: absolute;
			overflow: hidden;
			width: 890px;
			height: 40px;
			
			.bx-wrapper {
				padding: 0;
			}
			
			ul {
				list-style: none;
				li {
					width: auto !important;
					padding: 0 14px;
					text-align: center;
					a {
						margin: 0 11px 0 0;
						display: block; 
						float: left;
						padding-top: 4px;
						text-decoration: none;
						font: 24px Georgia;
						color: #0099cc;
						border-bottom: 1px dotted #0099cc;
						width: auto !important;
					}
					
					a.pager-active {
						padding: 0 5px 0 0;
						background: url('../images/top_slider_tabs_bg.jpg') no-repeat top right;
						background-position: 100% -41px;
						color: #fff;
						height: 40px;
						border: 0;

						span {
							background: url('../images/top_slider_tabs_bg.jpg') no-repeat top left;
							display: block; 
							height: 40px;
							padding: 4px 10px 0 15px;
							float: left;
						}
					}
					a.pager-active:hover {
						border-bottom: 1px dotted #fff;
					}
				}
			}
			
		}
		#top_panel_slider {
			position: relative;
			list-style: none;
			width: 960px;
			margin: 0 auto;
			height: 327px;
			top: 20px;

			li {
				position: relative;
				width: 900px;
				height: 342px;
				
				.title {
					display: none;
				}
				
				h2 {
					font: 30px Georgia;
					font-style: italic;
					color: #000;
					margin-bottom: 12px;
				}
				p {
					display: block;
					width: 345px;
					font: 18px Georgia;
					font-style: italic;
					color: #666;
				}
				img {
					position: absolute;
					// bottom: 0px;
					right: 0px;
					top: 0px;
				}
				a {
					display: block;
					float: left;
					padding: 0 12px 0 0;
					margin-top: 40px;
					background: url('../images/top_slider_content_button.png') no-repeat right;
					background-position: 100% -51px;
					height: 50px;
					color: #fff;
					font: 18px Arial;
					text-decoration: none;
					text-align: center;
					span {
						display: block;
						float: left;
						background: url('../images/top_slider_content_button.png') no-repeat left;
						background-position: 0 0;
						height: 38px;
						padding: 12px 7px 0 25px;
						span.shadow {
							background: none;
							height: auto;
							padding: 0px;
							@include shadow(#006699);
						}
					}
				}
				a:hover {
					background: url('../images/top_slider_content_button.png') no-repeat right;
					background-position: 100% -152px;
					span {
						background: url('../images/top_slider_content_button.png') no-repeat left;
						background-position: 0 -101px;
					}
				}
			}
		}
	}
}
/* ie 8 слайд */
.ie8 div.top_panel .slider_bg #top_panel_slider li img {
	top: -5px;
}
/* ie 7 слайд реклама */
.ie7 li.reklama {
	background-position: 100% 10px !important;
}

/* Работы портфолио */
div.portfolio_works {
	background: url('../images/works_bg.jpg') repeat-x;
	height: 383px;
	position: relative;
	
	.works_in_portfolio {
		position: relative;
		width: 285px;
		height: 27px;
		font: 14px Arial;
		color: #fff;
		background: url('../images/works_in_portfolio_bg.png') no-repeat;
		text-align: center;
		margin: 0 auto;
		top: -14px;
		padding-top: 10px;
		span {
			@include shadow(#cc3300);
		}
		a {
			font: 14px Arial;
			color: #fff;
		}
	}
	ul {
		width: 978px;
		margin: 2px auto;
		list-style: none;
		
		li {
			margin-right: 12px;
			display: block;
			float: left;
			width: 280px;
			height: 288px;
			padding: 14px 19px;
			background: url('../images/works_ramka.png') no-repeat;
			a{
				img{
					border: 1px solid #cccccc;
				}
			}
			p {
				padding: 10px 9px 0 9px;
				a{
					color: #0099cc;
					font: 18px/24px Arial;
				}
				a:hover {
					color: #ff6600;
				}
			}
		}
		li.last {
			margin-right: 0;
		}
	}
}

/* Журнал */
div.journal {
	position: relative;
	height: 140px;
	background: url('../images/journal_panel_bg.jpg') repeat-x top left;
	
	.journal_container {
		margin: 0 auto;
		width: 960px;
		height: 120px;
		position: relative;
		padding-top: 10px;
		div.journal_slider_container {
			height: 100px;
			position: relative;
			
			ul {
				width: 600px;
				height: 120px;
				position: relative;
				overflow: hidden;
				margin: 0 0 0 50px;
				list-style: none;
				padding-top: 0px;
				li {
					vertical-align: middle !important;
					height: 40px !important;
					a {
						font: 14px Georgia;
						font-style: italic;
						color: #fff;
						padding-top: 5px;
						@include shadow(#336600);
					}
				}
				li.big {
					height: 40px !important;
					a{
						font-size: 30px;
						@include shadow(#336600);
					}
				}
				li.medium {
					height: 36px !important;
					vertical-align: bottom;
					a {
						font-size: 18px;
						@include shadow(#336600);
					}
					margin-top: 4px;
					padding-top: 4px;
				}
			}
			
			/*next button*/
			.bx-prev {
				position: absolute;
				bottom: 0px;
				left: 0px;
				z-index: 990;
				width: 33px;
				height: 37px;
				text-indent: -9999px;
				background: url('../images/journal_slider_arrows.png') no-repeat;
				background-position: 0 -38px;
			}
			.bx-prev:hover {
				background-position: -34px -38px;
			}			

			/*previous button*/
			.bx-next {
				position: absolute;
				top: -10px;
				left: 0px;
				z-index: 990;
				width: 33px;
				height: 37px;
				text-indent: -9999px;
				background: url('../images/journal_slider_arrows.png') no-repeat;
				background-position: 0 0;
			}
			.bx-next:hover {
				background-position: -34px 0;
			}
			.journal_slider_mask {
				position: absolute;
				bottom: -20px;
				_bottom: 0px;
				_left: 30px;
				z-index: 1;
				width: 600px;
				height: 50px;
				background: url('../images/journal_slider_mask.png') repeat-x;
			}
		}
		.journl_link {
			position: absolute;
			right: 0px;	
			top: -18px;

			a.journal {
				position: relative;
				display: block;
				width: 168px;
				height: 122px;
				background: url('../images/journal_icon.png') no-repeat;
				right: -60px;
			}
			p {
				color: #fff;
				font: Arial 14px;
				a {
					color: #fff;
				}
			}
		}
	}
}

/* ie7 Journal Link*/

.ie7 div.journal .journal_container .journl_link a.journal {
	position: absolute;
	right: 60px;
}

.ie7 div.journal .journal_container .journl_link p {
	position: absolute;
	right: 0px;
	top: 120px;
	width: 300px;
}

.ie7 div.journal_slider_mask {
	left: 30px;
}


// Main Content
#main {
	background: #d4effc url('../images/bottom_bg.png') top center;
	min-height: 400px;
	padding-bottom: 20px;

	.main_container {
		width: 960px;
		margin: 0 auto;	
		padding-top: 32px;

		.about {
			padding-bottom: 24px;
			background: url('../images/sep.png') repeat-x bottom;
			.about_text {
				width: 630px;
				float: left;
				h1 {
					font: 30px Georgia;
					text-decoration: underline;
					color: #0099cc;
					margin-bottom: 16px;
				}
				a:hover h1 {
					color: #ff6600;
				}	
				p {
					font: 16px/22px Georgia;
					color: #000;
					margin-bottom: 16px;
					a {
						color: #0099cc;
					} 
					a:hover {
						color: #ff6600;
					}				
				}
			}
			.vacancy {
				float: right;
				width: 257px;
				padding-bottom: 16px;
				background: url('../images/vacancy_bottom.png') no-repeat bottom;

				.vacancy_content {
					width: 215px;
					height: 200px;
					background: url('../images/vacancy_top.png') no-repeat top;
					padding: 25px 21px 10px 21px;;	

					h3{
						font: 24px Georgia;
						font-style: italic;
						color: #fff;
						padding-bottom: 20px;
					}
					p {
						font: 16px/22px Georgia;
						color: #fff;
						margin-bottom: 10px;		
						a {
							color: #fff;
						}	
					}
					p.resume {
						margin-bottom: 0px;
					}
				}
			}
		}

		.feedbacks {
			margin-top: 41px;
			padding-bottom: 31px;
			background: url('../images/sep.png') repeat-x bottom;
			.left{
				float: left;
				width: 228px;
				h3 {
					font: 24px Georgia;
					font-style: italic;
					color: #333333;
					@include shadow(#fff);
					margin-bottom: 32px;
				}
				p {
					font: 14px Arial;
					color: #000;
					a {
						color: #0099cc;
					}
					a:hover {
						color: #ff6600;
					}
				}
			}
			.right {
				float: right;
				width: 624px;
				background: url('../images/quote.png') no-repeat top left;
				padding-left: 76px;

				blockquote {
					p {
						font: 16px/24px Georgia;
						color: #000;
						font-style: italic;
					}
					p.info {
						font: 12px/30px Arial;
						color: #666666;
						font-style: normal;
						margin-top: 5px;
					}
				}
			}
		}
	}


	.projects {
		margin-top: 36px;
		.left{
			float: left;
			width: 238px;
			h3 {
				font: 24px Georgia;
				font-style: italic;
				color: #333333;
				@include shadow(#fff);
				margin-bottom: 32px;
			}
		}
		.right {
			width: 590px;
			float: right;
			position: relative;
			margin-right: 20px;
			#projects_slider {
				list-style: none;
				margin: 0;
				li {
					a:hover {
						color: #ff6600;
					}
					a.preview {
						background: url('../images/projects_ramka.png') no-repeat;
						width: 269px;
						height: 100px;
						float: left;
						padding: 14px 0 0 19px;
						img {
							border: 0;
						}
						margin-right: 21px;
					}
					a.title {
						float: right;
						display: block;
						font: 16px/22px Georgia;
						color: #0099cc;
						font-style: italic;
						width: 280px;
						margin-bottom: 5px;
					}
					a.title:hover {
						color: #ff6600;
					}
					p {
						clear: right;
						font: 12px/30px Arial;
						color: #666666;
						a {
						color: #0099cc;
						}
						a:hover {
							color: #ff6600;
						}
					}
				}
			}
			.bx-wrapper {
				.bx-window {
				}
				/*next button*/
				.bx-next {
					position: absolute;
					top: 34px;
					right: -18px;
					z-index: 990;
					width: 10px;
					height: 19px;
					text-indent: -9999px;
					background: url('../images/top_slider_arrows.png') no-repeat;
					background-position: -11px -20px;
				}
				.bx-next:hover {
					background-position: -11px 0;
				}			

				/*previous button*/
				.bx-prev {
					position: absolute;
					top: 39px;
					left: -21px;
					z-index: 990;
					width: 10px;
					height: 19px;
					text-indent: -9999px;
					background: url('../images/top_slider_arrows.png') no-repeat;
					background-position: 0 -20px;
				}
				.bx-prev:hover {
					background-position: 0 0;
				}
			}	
		}
	}
}

//Форма mail
#mail-form {
   display: none;
}

.nyroModalDom {
    padding:18px 0 0 20px !important;
    z-index: 995;

    .left{
    	position: relative;
    	z-index: 999;
    	width: 300px;
    	float: left;
    	padding-top: 37px;
    	margin-right: 20px;
    	h2 {
	        font-family:Georgia;
	        font-size:14px;
	        font-weight:bold;
	        color: #fff;
	        margin-bottom:36px;
	        text-transform: uppercase;

	        @include shadow(#cc3300);
    	}
    	p {
    		font: 16px/22px Georgia;
    		color: #fff;
    		margin-bottom: 13px;
    		padding-left: 25px;
    	}
    }
    .right {
    	float: left;
    	width: 590px;
    	padding-top: 21px;
    	form {
    		label {
    			font: 14px/22px Arial;
    			color: #d4effc;
    			display: block;
    			width: 200px;
    		}
    		td {
    			vertical-align: bottom;
    			padding-bottom: 15px;
    			input {
    				width: 566px;
    				height: 40px;
    				border: 0px;
    				font: 16px;
    				color: #666666;
    				font-style: italic;
    				padding: 0 12px;
    				vertical-align: middle;
    			}
    			#name {
    				background: url('../images/mail_form_name_field.png') no-repeat;
    			}
    			#phone, #email {
    				width: 256px;
    				background: url('../images/mail_form_email_field.png') no-repeat;
    			}
    			#message {
    				width: 566px;
    				height: 126px;
    				padding: 12px 12px;
    				border: 0;
    				background: url('../images/mail_form_message_field.png') no-repeat;
    			}
    			#captcha {
    				float: left;
    				width: 172px;
    				background: url('../images/mail_form_captcha_field.png') no-repeat;
    				margin-right: 16px;
    				vertical-align: bottom;
    			}
    			img.captcha_img {
    				width: 63px !important;
    				position: relative;
    				right: 0px;
    			}
    		}

    		p.submit {
    			clear: both;
    			padding-top: 15px;
    			input {
    				width: 166px;
    				height: 51px;
    				background: url('../images/mail_form_send_button.png') no-repeat;
    			}
    			input:hover {
    				background-position: 0px -52px;
    			}
    		}
    	}
    }
}

/*ie6 img captcha*/
.ie6 img.captcha_img {
	width: 63px !important;
	position: relative;
	right: 200px !important;
	top: -20px;
}

.nyroModalFormFile {
	height: 587px !important;
}

.nyroModalBg {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 100;
}
.nmReposition {
    position: absolute;
}
.nyroModalCloseButton {
    top: 24px;
    right: 28px;
    width: 12px;
    height: 12px;
    z-index: 999;
    text-indent: -9999em;
    background: url(../images/mail_form_close.png);
}
.nyroModalTitle {
    top: -26px;
    left: 0;
    margin: 0;
    font-size: 1.1em;
    color: #ddd;
}
.nyroModalCont {
    position: absolute;
    margin: 25px;
    background: #fff;
    z-index: 100;
    overflow: hidden;
    width:979px !important;
    height:577px !important;
    background:url('../images/mail_form_bg.png') no-repeat;
}
.mail_form_container {
	position: absolute;
	z-index: 9999;
}
.nyroModalError {
    border: 4px solid red;
    color: red;
    width: 250px;
    height: 250px;
}
.nyroModalError div {
    min-width: 0;
    min-height: 0;
    padding: 10px;
}
.nyroModalLink, .nyroModalDom, .nyroModalForm, .nyroModalFormFile {
    position: relative;
    padding: 10px;
    min-height: 250px;
    min-width: 250px;
    max-width: 1000px;
}
.nyroModalImage, .nyroModalSwf, .nyroModalIframe, .nyroModalIframeForm {
    position: relative;
    overflow: hidden;
}
.nyroModalImage img {
    vertical-align: top;
}
.nyroModalHidden {
    left: -9999em;
    top: -9999em;
}
.nyroModalLoad {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff url(../img/ajaxLoader.gif) no-repeat center;
    padding: 0;
}
.nyroModalPrev, .nyroModalNext {
    outline: none;
    position: absolute;
    top: 0;
    height: 60%;
    width: 150px;
    min-height: 50px;
    max-height: 300px;
    cursor: pointer;
    text-indent: -9999em;
    background: transparent url('data:image/gif;base64,AAAA') left 20% no-repeat;
}
.nyroModalImage .nyroModalPrev, .nyroModalImage .nyroModalNext {
    height: 100%;
    width: 40%;
    max-height: none;
}
.nyroModalPrev {
    left: 0;
}
.nyroModalPrev:hover {
    background-image: url(../img/prev.gif);
}
.nyroModalNext {
    right: 0;
    background-position: right 20%;
}
.nyroModalNext:hover {
    background-position: right 20%;
    background-image: url(../img/next.gif);
}

/* ie6 стили для формы */
.ie6 .nyroModalCloseButton {
    top: 0;
    right: 220px;
    width: 12px;
    z-index: 999;
}

/* ie7 стили для формы */
.ie7 #name {
	padding: 12px 12px;
	height: 16px !important;
	background: url('../images/mail_form_name_field.png') no-repeat;
}
.ie7 #phone, .ie7 #email {
	width: 256px;
	padding: 12px 12px;
	height: 16px !important;
	background: url('../images/mail_form_email_field.png') no-repeat;
}
.ie7 #captcha {
	padding: 12px 12px;
	float: left;
	width: 172px;
	height: 16px !important;
	background: url('../images/mail_form_captcha_field.png') no-repeat;
	margin-right: 16px;
	vertical-align: bottom;
}

/* ie8 стили для формы */
.ie8 #name {
	padding: 12px 12px;
	height: 16px !important;
	background: url('../images/mail_form_name_field.png') no-repeat;
}
.ie8 #phone, .ie8 #email {
	width: 256px;
	padding: 12px 12px;
	height: 16px !important;
	background: url('../images/mail_form_email_field.png') no-repeat;
}
.ie8 #captcha {
	padding: 12px 12px;
	float: left;
	width: 172px;
	height: 16px !important;
	background: url('../images/mail_form_captcha_field.png') no-repeat;
	margin-right: 16px;
	vertical-align: bottom;
}