@import "base/base.scss";
@import "base/func.scss";
@import "base/all.scss";
@import "base/call_form.scss";


body {
    background: #d4effc url('../images/bottom_bg.png') top center;
    min-height: 754px;
}

// Top Menu
.top_menu {
    position: relative;
    top: -15px;
    background: url('../images/map_title_top_menu_bg.png') repeat-x top;
    height: 144px;
    z-index: 1;
    padding-top: 26px;

    .top_menu_container {
        background: url('../images/title_top_bg.png') no-repeat;
        width: 978px;
        padding-top: 12px;
        margin: 0 auto;
        position: relative;

        .top_menu_center {
            position: relative;
            width: 838px;
            padding: 21px  70px 10px 70px;
            background: url('../images/title_center_bg.png') repeat-y;
        }
        .top_menu_bottom {
            background: url('../images/title_bottom_bg.png') no-repeat bottom;
            padding-bottom: 23px;
            position: relative; 
            width: 978px;
        }
        h1 {
            color: #ff6600;
            font: 36px Georgia;
            font-weight: normal;
            margin-bottom: 12px;
        }
    }
}

// Main Content
#main {
    padding-bottom: 20px;

    .main_container {
        width: 960px;
        margin: 0 auto;
        background: url('../images/map.jpg') no-repeat;
        background-position: 0 40px;

        .search {
            form {
                input.text {
                    background: url('../images/search_form_text_bg.png') no-repeat;
                    border: 0;
                    width: 830px;
                    height: 40px;
                    padding: 0 12px;
                    margin: 0px;
                }
                input.submit {
                    position: relative;
                    background: url('../images/search_form_submit_bg.png') no-repeat;
                    border: 0;
                    width: 100px;
                    height: 40px;
                    margin: 0px;
                    left: -4px;

                    font: 14px Arial;
                    @include shadow(#cc3300);
                    text-transform: uppercase;
                    color: #fff;
                }
                input.submit:hover {
                    background-position: 0px -40px;
                }
            }
        }
        .content {
            margin-top: 34px;
            h2  {
                color: #0099cc;
                font: 24px/30px Georgia;
                text-decoration: underline;
                font-style: italic;
                margin-bottom: 2px;
            }
            a:hover h2{
                color: #ff6600;
            }
            ul {
                margin-right: 36px;
                margin-bottom: 14px;
                list-style: none;
                li {
                    a {
                        font: 16px/28px Georgia;
                    }
                }
            }
        }
    }   
}

.ie7 #main .main_container .search form input.text {
    padding: 12px 12px;
    height: 16px !important;
}

.ie7 .top_menu .top_menu_container .top_menu_center {
    padding-bottom: 0px !important;
}

.ie6 #main .main_container .search form input.text {
    padding: 12px 12px;
    height: 16px !important;
}

.ie6 .top_menu .top_menu_container .top_menu_center {
    padding-bottom: 0px !important;
}
.ie6 input.submit {
    top: -1px;
}