@import "base/base.scss";
@import "base/func.scss";
@import "base/all.scss";
@import "base/call_form.scss";


body {
    background: #d4effc url('../images/bottom_bg.png') top center;
    min-height: 754px;
}

// Top Menu
.top_menu {
    position: relative;
    top: -15px;
    background: url('../images/blog_top_menu.png') repeat-x top;
    height: 282px;
    z-index: 1;
    padding-top: 26px;

    .top_menu_container {
        background: url('../images/title_top_bg.png') no-repeat;
        width: 978px;
        padding-top: 12px;
        margin: 0 auto;
        position: relative;

        .top_menu_center {
            position: relative;
            width: 978px;
            padding: 15px  0px 6px 0px;
            background: url('../images/title_center_bg.png') repeat-y;
        }
        .top_menu_bottom {
            background: url('../images/title_bottom_bg.png') no-repeat bottom;
            padding-bottom: 23px;
            position: relative; 
            width: 978px;
        }
        div.hr {
            clear: both;
            width:957px;
            height:3px;
            border: 0px;
            background: url('../images/blog_title_hr.png') no-repeat;
            margin: 27px 0 0 11px;
        }
        h1 {
            color: #ff6600;
            font: 36px Georgia;
            font-weight: normal;
            margin-bottom: 18px;
            padding: 0 70px;
        }
        ul {
            padding: 0 70px;
            list-style: none;
            margin: 0px;
            li {
                display: inline;
                margin-right: 15px;
                a {
                    color: #0099cc;
                    font: 14px Arial;
                }
                a:hover {
                    color: #ff6600;
                }
            }
            li.active {
                a {
                    font-weight: bold;
                    color: #cccccc;
                    text-decoration: none;
                }
                a:hover {
                    color: #ff6600;
                }
            }
        }

        ul.tags {
            margin-top: 23px;
            li {
                display: block;
                float: left;
                margin-bottom: 13px;
                line-height: 24px;
            }
            li.active {
                a {
                    display: block;
                    float: left;
                    background: url('../images/top_sub_menu_active.png') no-repeat right;
                    background-position: 100% -26px;
                    height: 26px;
                    padding-right: 5px;

                    span {
                        display: block;
                        float: left;
                        background: url('../images/top_sub_menu_active.png') no-repeat top left;
                        height: 21px;
                        padding: 5px 5px 0 10px;
                        color: #fff;
                        font-weight: normal;
                    }
                }
                a:hover {
                    color: #fff;
                }
            }
        }
    }
}
.ie6 .top_menu .top_menu_container hr {
    position: relative;
    left: -5px;
    border: 0px solid !important;
    clear: both;
    width:957px;
    height:3px;
    background: transparent url('../images/blog_title_hr.png') no-repeat;
    margin: 20px 0 0 11px;
}
.ie6 ul.tags {
    margin-top: 17px !important;
}
// Main Content
#main {
    padding-bottom: 20px;

    .main_container {
        width: 960px;
        margin: 0 auto;
        padding-left: 5px;

        div.hr {
            clear: both;
            background: url('../images/sep.png') repeat-x left bottom;
            border: 0px;
            height:2px;
            margin-bottom: 35px;
        }
        .works {
            width: 970px;
            margin: 0 auto;
            .right {
                margin-right: 0px !important;
            }
            .anons {
                float: left;
                width: 300px;
                margin: 0 30px 30px 0;

                .anons_thumb {
                    a {
                        display: block;
                        width: 287px;
                        height: 228px;
                        background: url('../images/portfolio_thumb_bg.png') no-repeat;
                        padding: 41px 0 0 9px;
                    }
                }
                .info {
                    padding: 0 11px;
                    a.title {
                        display: block;
                        font: 18px/24px Georgia;
                        color: #0099cc;
                    }
                    a:hover {
                        color: #ff6600;
                    }
                    span.date {
                        font: 12px/24px Arial;
                        color: #999;
                        margin-top: 8px;
                        display: block;
                    }
                    ul.tags {
                        list-style: none;
                        margin: 0;
                        li {
                            display: inline;
                            background: url('../images/blog_tags_sep.png') no-repeat top left;
                            background-position: 0% 7px;
                            padding-left: 12px;
                            margin-right: 5px;
                        }
                        li.first {
                            background: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
        
        blockquote {
            background: url('../images/quote.png') no-repeat;
            background-position: 0px 5px;
            padding: 0 30px 25px 74px;
            font: 16px/22px Georgia;
            font-style: italic;
        }
    }
}