@charset "IBM866";
div.call {
  margin: 20px auto;
  background: url("../images/blog_call_form.png") no-repeat;
  width: 979px;
  height: 311px; }
  div.call .left {
    width: 300px;
    float: left;
    padding-top: 55px;
    margin-right: 20px; }
    div.call .left h3 {
      font-family: Georgia;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 36px;
      margin-left: 33px;
      text-transform: uppercase;
      text-shadow: 1px 1px 0 #cc3300;
      filter: dropshadow(color=#cc3300, offx=1, offy=1); }
    div.call .left p {
      font: 16px/22px Georgia;
      color: #fff;
      margin-bottom: 13px;
      padding-left: 31px; }
  div.call .right {
    float: left;
    width: 620px;
    padding-top: 39px; }
    div.call .right form label {
      font: 14px/22px Arial;
      color: #d4effc;
      display: block;
      width: 250px; }
    div.call .right form td {
      position: relative;
      vertical-align: top;
      margin-bottom: 15px;
      margin-right: 15px;
      font: 14px/22px Arial;
      color: #d4effc;
      float: left;
      width: 270px; }
      div.call .right form td img {
        position: absolute;
        z-index: 999;
        top: 27px;
        right: 0px; }
      div.call .right form td select {
        width: 280px;
        height: 40px; }
      div.call .right form td input {
        width: 256px;
        height: 40px;
        border: 0px;
        font: 16px;
        color: #666666;
        font-style: italic;
        padding: 0 12px;
        vertical-align: middle; }
      div.call .right form td #phone, div.call .right form td #email, div.call .right form td #name, div.call .right form td #company_name {
        background: url("../images/mail_form_email_field.png") no-repeat; }
      div.call .right form td #captcha {
        float: left;
        width: 172px;
        background: url("../images/mail_form_captcha_field.png") no-repeat;
        margin-right: 10px;
        vertical-align: bottom; }
    div.call .right form p.submit {
      width: 566px;
      clear: both;
      padding-top: 15px;
      position: relative;
      z-index: 1; }
      div.call .right form p.submit input {
        width: 166px;
        height: 51px;
        background: url("../images/mail_form_send_button.png") no-repeat; }
      div.call .right form p.submit input:hover {
        background-position: 0px -52px; }
      div.call .right form p.submit span {
        text-shadow: 1px 1px 0 #006699;
        filter: dropshadow(color=#006699, offx=1, offy=1);
        font: 18px Arial;
        margin-left: 10px; }

/*********************************************************************

jQuery UI DropDown v1.0
http://uraniuminteractive.com

Copyright 2011, Frank Parent for Uranium Interactive
Free to use and abuse under the MIT license.
http://www.opensource.org/licenses/mit-license.php

**********************************************************************/
/* The dropdown container */
.ddContainer, .ddContainer a {
  font: normal 13px Helvetica;
  color: #000;
  height: 40px !important; }

.ddContainer a {
  display: block;
  cursor: default;
  text-decoration: none;
  background: url("../images/mail_form_email_field.png") no-repeat;
  width: 256px !important;
  padding: 12px 12px;
  height: 16px !important; }

.ddOptionList {
  width: 280px !important; }

.ddOptionList li a {
  background-color: #fff !important;
  background-image: none;
  padding: 6px 0 6px 6px !important;
  width: 274px !important; }

.ddContainer a.selected {
  background-color: #3399ff !important;
  color: #fff !important; }

/* The dropdown toggle button */
.ddToggle {
  height: 14px;
  position: relative;
  display: block;
  padding: 2px 18px 2px 4px;
  background-color: #fff; }

/* The dropdown arrow in the toggle box */
.ddToggle span {
  display: block;
  position: absolute;
  top: 3px;
  right: 4px;
  background: url("../images/select_button.jpg") no-repeat;
  width: 35px;
  height: 35px; }

/* The dropdown arrow in the toggle box */
.ddContainer a:hover span {
  background-position: 0px -35px; }

/* The dropdown option list */
.ddOptionList {
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 0;
  z-index: 999; }

.ddOptionList li.optgroup {
  font-style: italic;
  font-weight: bold;
  cursor: default; }

/* Отступы для ие7 */
.ie7 div.call .right form td {
  padding-bottom: 15px; }

.ie7 #phone, .ie7 #email, .ie7 #name, .ie7 #company_name {
  padding: 12px 12px;
  width: 256px;
  height: 16px; }

.ie7 #captcha {
  padding: 12px 12px;
  width: 172px;
  height: 16px; }

/*     ie6     */
.ie6 div.call img {
  position: absolute;
  z-index: 999;
  top: 27px;
  right: 0px; }
.ie6 div.call td {
  position: relative;
  width: 40px !important;
  margin-bottom: 10px !important; }

.ie6 div.call .right form td {
  padding-bottom: 15px; }

.ie6 #phone, .ie6 #email, .ie6 #name, .ie6 #company_name {
  padding: 12px 12px;
  width: 256px;
  height: 16px; }

.ie6 #captcha {
  padding: 12px 12px;
  width: 172px;
  height: 16px; }

/* Отступы для ие8 */
.ie8 #phone, .ie8 #email, .ie8 #name, .ie8 #company_name {
  padding: 12px 12px;
  width: 256px;
  height: 16px; }

.ie8 #captcha {
  padding: 12px 12px;
  width: 172px;
  height: 16px; }
