/* CONTAINER *********
******************/
#container {margin: 3px 0 0 0;}
#container .leftBlock{
	margin				: 0 5px 0 0;
	width				: 225px;
	float				: left;
}
#container .rightBlock{
	width				: 670px;
	float				: left;
}
#container .leftBlock .inner{}
#container .rightBlock .inner{}
/* Picture */
div.picture {
	margin				: 0 0 10px 0;
	width				: 670px;
	height				: 223px;
	background			: url(../images/layout_bg_main.jpg) 0px 0px no-repeat;
}
div.picture div.label{
	margin				: 0;
	padding				: 71px 0 0 0;
	width				: 462px;
	height				: 37px;
}
div.picture div.text{
	margin				: 10px 0 0 12px;
	padding				: 0px 0 0 0;
	width				: 445px;
}
div.picture p{
	margin				: 0;
	font-family			: Tahoma;
	line-height			: 15px;
	font-weight			: bolder;
	color				: #fff;
}
/* end Picture */
div.content {
	margin				: 0 10px 0 0;
	padding				: 0;
	float				: left;
	width				: 440px;
	*width				: 438px;
	background			: #f7f7f7;
}
div.content .block{
	margin				: 9px 0 45px 8px;
	width				: 420px;
}
div.content h1{
	margin				: 0 0 5px 0;
	font-family			: Arial;
	font-size			: 14px;
	font-weight			: bolder;
	color				: #485056;
}
div.content p{
	margin				: 0 0 10px 0;
	line-height			: 15px;
}
div.content span.date{
	margin				: 0 0 0px 0;
	display				: block;
	font-family			: Tahoma;
	font-size			: 10px;
	color				: #8a8a89;
}
div.content a.title{
	font-weight			: bolder;
	color				: #0d71b3;
}
div.info {
	margin				: 0 0 0 0;
	padding				: 0;
	float				: left;
	width				: 220px;
}
/***********/
div.info div.banner_1 {
	margin				: 0 0 10px 0;
	padding				: 12px 0 12px 0;	
	width				: 220px;
	border				: 1px solid #008dcd;
}
div.info div.banner_1 .ico{
	float				: left;	
	width				: 61px;
	text-align			: center;
}
div.info div.banner_1 .text{
	float				: left;	
	width				: 150px;
}
div.info div.banner_1 h1{
	margin				: 0 0 7px 0;
	font-family			: Arial;
	font-size			: 14px;
	font-weight			: bolder;
	color				: #1c5da2;
}
div.info div.banner_1 p{
	margin				: 0;
	font-family			: Tahoma;
	line-height			: 14px;
	color				: #2d2d2d;
}
/***********/
div.info div.banner_2 {
	margin				: 0 0 10px 0;
	padding				: 0;	
	width				: 220px;
}
div.info div.banner_2 .ico{
	float				: left;	
	width				: 61px;
	text-align			: center;
}
div.info div.banner_2 .text{
	float				: left;	
	width				: 150px;
}
div.info div.banner_2 h1{
	margin				: 0 0 7px 0;
	font-family			: Arial;
	font-size			: 14px;
	line-height			: 30px;
	font-weight			: bolder;
	text-transform		: uppercase;
	color				: #1c5da2;
}