#page{
	width				: 100%;
	min-width			: 1000px;
	min-height			: 100%;
}
#layout {
	padding				: 0 0 25px 0;
	width				: 900px;
	min-height			: 100%;
}
/* TOP ***********
******************/
#top {
	height				: 135px;
	background			: url(../images/top_bg.gif) 0px 100% repeat-x;
}
/*Logo*/
a.logo{
	position			: absolute;
	display				: block;
	margin				: 33px 0 0 6px;
	width				: 147px;
	height				: 95px;
}
a.logo img{
	width				: 147px;
	height				: 95px;
}
/*end Logo*/
/*Top menu*/
ul.topMenu{
	position			: absolute;
	margin				: 73px 0 0 705px;
	height				: 12px;
}
ul.topMenu li{
	margin				: 0 6px 0 0;
	padding				: 0 6px 0 0px;
	float				: left;
	list-style			: none;
	background			: url(../images/top_menu_li.gif) 100% 2px no-repeat;
}
ul.topMenu li a{
	margin				: 0 0px 0 0;
	padding				: 0 0 0 0px;
	font-family			: Arial;
	font-size			: 11px;
	color				: #0d71b3;
}
/* Search block */
div.search {
	position			: absolute;
	margin				: 99px 0 0 641px;
	width				: 252px;
	height				: 17px;
}
div.search label{
	margin				: 2px 3px 0 0;
	float				: left;
	color				: #1c5da2;
	font-size			: 11px;
	font-family			: Arial;
	font-weight			: bolder;
}
div.search .text{
	margin				: 0px 3px 15px 0px;
	padding				: 0;
	float				: left;
	width				: 150px;
	height				: 17px;
	background			: url(../images/search_input.gif) 0px 0px no-repeat;
}
div.search .text input{
	margin				: 1px 0 0px 2px;
	padding				: 0;
	width				: 145px;
	height				: 15px;
	font-family			: Arial;
	font-size			: 11px;
	color				: #818181;
	background			: #f2f2f2;
	overflow			: auto;
	float				: left;
}
div.search div.btn{
	float				: left;
	margin				: 0px 0 0 0;
	width				: 60px;
	height				: 17px;
}
div.search div.btn input{
	float				: left;
	width				: 60px;
	height				: 17px;
	background			: url(../images/search_btn.gif) 0px 0px no-repeat;
	border				: 0px;
	cursor				: pointer;
}
/* end Search block */

/* FOOTER *********
******************/
#footer {
	margin				: 50px 0 0 0;
	padding				:  0 0 70px 0;
}
#footer .block {
	margin				: 0px 0 0 0;
	height				: 23px;
	width				: 900px;
	background			: #1c5da2;
}
#footer p.contacts{
	position			: absolute;
	margin				: 5px 0 0 5px;
	color				: #ffffff;
	font-family			: Tahoma;
	font-size			: 11px;
}
#footer p.copyright{
	position			: absolute;
	margin				: 5px 0 0 740px;
	color				: #ffffff;
	font-family			: Tahoma;
	font-size			: 11px;
}
/***Additional Styles***/
/*Menu*/
ul.menu{
	margin				: 0px 0 0 0px;
	padding				: 4px 0 0 0;
	width				: 225px;
	background			: url(../images/menu_bg.gif) 0px 0px repeat-x;
}
ul.menu li{
	margin				: 0 0px 10px 0;
	padding				: 0;
	list-style			: none;
	height				: auto;
	background			: none
}
ul.menu li div.item{
	padding				: 0 0 0 5px;
	display				: block;
	height				: 25px;
	background			: #f7f7f7 url(../images/menu_li.gif) 210px 7px no-repeat;
}
ul.menu li a{
	margin				: 0 0 0 0;
	padding				: 0 0 0 0;
	font-family			: Arial;
	font-size			: 11px;
	line-height			: 25px;
	font-weight			: bolder;
	text-transform		: uppercase;
	text-decoration		: none;
	color				: #1c5da2;
}
ul.menu ul.subMenu{margin: 8px 0 15px 0px;}
ul.menu ul.subMenu li{
	display				: block;
	margin				: 0 0 8px 0;
	padding				: 0 0 0 16px;
	height				: 14px;
	line-height			: 14px;
	background			: url(../images/sub_menu_li.gif) 2px 3px no-repeat;
}
ul.menu ul.subMenu li a{
	line-height			: 14px;
	font-weight			: normal;
	text-transform		: none;
	text-decoration		: underline;
}
ul.menu ul.subMenu li a:hover{text-decoration: none;}
/*end Menu*/

/**********/
.clearBoth{
	clear				: both;
	font-size			: 0px;
	height				: 0px;
}