/* CONTAINER *********
******************/
#container {margin: 3px 0 0 0; border-top: 1px solid #000;}
#container .leftBlock{
	margin				: 0 5px 0 0;
	width				: 225px;
	float				: left;
}
#container .rightBlock{
	width				: 670px;
	float				: left;
}
#container .leftBlock .inner{}
#container .rightBlock .inner{}

/* Picture */
div.picture {
	margin				: 0 0 3px 0;
	width				: 900px;
	height				: 150px;
	background			: url(../images/layout_bg.jpg) 0px 0px no-repeat;
}
div.picture div.label{
	margin				: 0;
	padding				: 49px 0 0 220px;
	width				: 462px;
	height				: 37px;
}
div.content {
	margin				: 0 0px 0 0;
	padding				: 0;
	float				: left;
	width				: 670px;
	background			: url(../images/content_bg.gif) 0px 0px repeat-y;
}
div.content .block{margin: 9px 0 45px 8px;}
div.content p{line-height: 16px;}
td.border_1 { 
	border-left			: 1px solid #f7f7f7;
	border-right		: 1px solid #f7f7f7;	
}
td.border_2 { 
	border-left			: 1px solid #e4e4e4;
	border-right		: 1px solid #e4e4e4;	
}